.SiteGrid, .SearchDiv, .Login, .Send, .GridItem, .TheForm, .InvalidPasswd, #register {display: flex;}
#login {margin: 2% 0%;}
body {margin: 0%;}
nav {margin-top: -1%;}
.FormLabel {margin-top: 1%;}
.FormLabel, .FormInput {font-size: 20pt;}
p.Invalid#invalid-pass {margin-right: 10%;}
#NewService {cursor: pointer;}
.Service {font-size: 26pt; text-align: center;}
.ServiceData {font-size: 26pt; margin-left: 30%}
.Icon, .Service, .ServiceData {font-family: monospace;}
.DataOptions {display: flex;}
div#form-login.TheForm, form#register, .Send, #my-account {background-color: gray;}
.Login, .Send {margin: 0% 5% 2% 5%;}
button#submit-login.SubmitButton, button#forgot.SubmitButton {margin: 0% 0% 2% 2%;}
#account-form {margin-top: 2%;}
div#modify-account.Send {border: none;}
.Login {padding-left: 24%;}
button#the-code.SubmitButton {width: 35%;}
.Send {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.UserData {
    background-color: darkgray;
    border: 2px solid darkcyan;
    position: relative;
}
.Sites {
    display: grid;
    padding: 0% 1%;
    grid-template-columns: auto auto auto auto;
    margin: 1% 0%;
    grid-column-gap: 1%;
    grid-row-gap: 2%;
    overflow: auto;
}
.SearchDiv {
    margin-top: 2%;
}
.SearchButton {
    color: white;
    border: 2px solid gray;
    font-size: 26pt;
    padding: 1%;
    cursor: pointer;
}
#search {
    width: 50%;
    margin-left: 25%;
    padding: 1%;
    border: 1px solid gray;
    font-size: 24pt;
    outline: 0px;
}
.GridItem {
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: -4px 6px 4px rgb(0 0 0 / 80%);
    padding: 2% 0%;
    text-align: center;
    width: 75%;
    margin: 5% 0%;
    overflow: scroll;
}
div#signup.Send {
    margin: 0;
    border: none;
}
/* This is for the login page */
.TheForm {
    margin: 1% 20%;
    background-color: transparent;
}
.GridItem, .TheForm, .InvalidPasswd, #register {
    display: flex;
    flex-direction: column;
}
.FormInput {
    margin-bottom: 1%;
    padding: 1%;
    width: 35%;
}

.FormInput, .FormLabel, .Invalid {
    margin-left: 30%;
    font-family: Helvetica;
}

.Invalid {
    color: red;
    font-size: 14pt;
    margin-top: 0%;
    margin-bottom: 0%;
}
.SubmitButton {
    width: 25%;
    margin: 1% 0% 2% 30%;
    padding: 1% 5%;
    font-size: 18pt;
    cursor: pointer;
}
.SubmitButton:hover {
    background-color: green;
    border: 2px solid white;
    color: white;
}
.Icon {
    font-size: 38pt;
    background-color: green;
    padding: 1% 5%;
    width: 11%;
    margin: -1% 42%;
    color: white;
    border: 2px solid white;
    border-radius: 100px;
}
button#go-back.SubmitButton, button#go-back2.SubmitButton{
    width: 20%;
    padding: 1% 2%;
    margin: 2% 0% 0% 30%;
}
@media screen and (min-width: 300px) and (max-width: 800px) {
    .SiteGrid {grid-template-columns: auto auto;}
    .Service {font-size: 10pt; margin: 12% 2%;}
    .SearchButton {font-size: 12pt;}
    #search {width: 67%;margin-left: 15%;}
    #search, .SearchButton {border-radius: 15px}
    .FormLabel {font-size: 12pt;}
    .TheForm {margin: 1% 10%;}
    .FormInput {font-size: 11pt; width: 50%;}
    .Sites {grid-row-gap: 3%;}
    .Invalid {font-size: 10pt;}
    .Login, .Send {margin: 0% 5% 4% 5%}
    .Login {padding-left: 17%;}
    button#submit-login.SubmitButton, button#forgot.SubmitButton {margin: 3%;}
    .GridItem {
        box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.9);
        width: 85%;
        height: 80%;
    }
    .SubmitButton {
        margin: 4% 30%;
        width: 35%;
        font-size: 8pt;
    }
    .Icon {
        width: 30%; 
        margin: 2% 0% -2% 33%; 
        font-size: 18pt;
    }
}
@media screen and (min-width: 801px) and (max-width: 1290px) {
    .SiteGrid {
        grid-template-columns: auto auto auto;
    }
}
* {
    animation: fade 0.5s forwards;
    -moz-animation: fade 0.5s forwards;
    -webkit-animation: fade 0.5s forwards;
    -o-animation: fade 0.5s forwards;
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-moz-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@-o-keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}